{% extends './plantilla.html' %}
{% block contenido %}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 bg-light">
        <h1>Nuevo Cine</h1>
        <form action="/guardarCine" id="frm_nuevo_cine" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            
            <label for="">Nombre:</label><br>
            <input placeholder="Ingrese el nombre del cine" class="form-control" type="text" name="nombre" id="nombre"> <br><br>

            <label for="">Dirección:</label><br>
            <input placeholder="Ingrese la dirección del cine" class="form-control" type="text" name="direccion" id="direccion"> <br><br>

            <label for="">Ciudad:</label><br>
            <input placeholder="Ingrese la ciudad" class="form-control" type="text" name="ciudad" id="ciudad"> <br><br>

            <label for="">Capacidad Total:</label><br>
            <input placeholder="Ingrese la capacidad" class="form-control" type="number" name="capacidad_total" id="capacidad_total" required min="5"> <br><br>


            <label for="">Número de Salas:</label><br>
            <input placeholder="Ingrese el número de salas" class="form-control" type="number" name="numero_salas" id="numero_salas" required min="1"> <br><br>

            <label for=""></label>
            <input type="file" name="logo" id="logo" class="form-control" accept="logo/*"> <br>

            <button class="btn btn-success" type="submit">
                <i class="fa fa-save"></i> Guardar
            </button>
            <a class="btn btn-outline-danger" href="/cines">
                <i class="fa fa-times"></i> Cancelar
            </a>
        </form>
        <br>
    </div>
    <div class="col-md-3"></div>
</div>

<script>
    $("#frm_nuevo_cine").validate({
        rules: {
            "nombre": {
                required: true,
                minlength: 3,
                maxlength: 100
            },
            "direccion": {
                required: true,
                minlength: 5
            },
            "ciudad": {
                required: true,
                minlength: 3
            },
            "capacidad_total": {
                required: true,
                number: true,
                min: 5,
                max: 60
            },
            "numero_salas": {
                required: true,
                number: true,
                min: 1,
                max: 10
            },
            "logo": {
                required: true,
            }
        },
        messages: {
            "nombre": {
                required: "Por favor llenar este campo",
                minlength: "Mínimo 3 caracteres",
                maxlength: "Máximo 100 caracteres"
            },
            "direccion": {
                required: "Por favor llenar este campo",
                minlength: "Mínimo 5 caracteres"
            },
            "ciudad": {
                required: "Por favor llenar este campo",
                minlength: "Mínimo 3 caracteres"
            },
            "capacidad_total": {
                required: "Por favor llenar este campo",
                number: "Ingrese un número válido",
                min: "Debe ser mayor que 5",
                max: "Debe ser menor que 60"
            },
            "numero_salas": {
                required: "Por favor llenar este campo",
                number: "Ingrese un número válido",
                min: "Debe ser mayor que 0",
                max: "Debe ser menor que 10"
            },
            "logo": {
                required: "Debe subir un logotipo",
            }
        }
    });
</script>

<script>
    $("#logo").fileinput({
            //language: "es",
            allowedFileExtensions: ["png|jpg|jpeg"],
            showCaption: false,
            dropZoneEnabled: true,
            showClose: false
    });

</script>

{% endblock %}

